body {
  background-color: #000000;
  color: white;
}

.body-container {
  width: 90%;
  margin: auto;
}

.header {
  background: url(/images/header-mobile1.jpg) 40% top no-repeat;
  height: 100vh;
  z-index: -3;
  position: relative;
}

.header__container {
  top: 0;
}

.header__welcome {
  font-size: 2.5rem;
  width: 90%;
  margin: 0 auto 2rem auto;
  padding-top: 3rem;
  text-shadow: 2px 2px 2px #000000;   
}

.header__name {
  text-shadow: 2px 2px 2px #0000009e;   
  font-size: 1.8rem;
  font-weight: normal;
  width: 90%;
  margin: 0.5rem auto;
  background-color: #0000004a;
}

.header__fade {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.7) 56%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 1) 100%);
}

.display-btn__container {
  display: flex;
  justify-content: space-evenly;
  width: min(85%, 550px);
  margin: 4rem auto 0 auto;
}

.display-btn {
  color: white;
  font-size: 1.2rem;
  background-color: #000000;
  border: none;
  padding: 20px 8px;
  cursor: pointer;
}

.display-btn:hover {
  color: #ffffffc4;
  /* border-bottom: #03d8c6bd solid 3px; */

}

#display-btn__projects {
  border-bottom: #03d8c6 solid 3px;
}

/* #display-btn__projects:hover {
  border-bottom: #03d8c6bd solid 3px;
}

#display-btn__about-me {
} */

.projects {
  max-width: min(100%, 550px);
  margin: 2rem auto;
  margin-bottom: 4rem;
}

.projects__item {
  padding: 2rem 0;
}

.projects__img {
  border: #03d8c691 solid 3px;
}

.projects__name {
  font-size: 1.3rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
}

.projects__medium {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  color: #03d8c6;
  letter-spacing: 2px;
}


#about-me {
  display: none;
}

.main-container {
  max-width: 1000px;
  margin-top: 4rem;
}


.nav__list {
  display: flex;
  flex-flow: wrap;
}



.hide-mobile {
    display: none;
}

.nav-mobile {
    background-color: #03d8c6;
    position: fixed;
    top: 0px;
    z-index: 50;
    width: 100%;
}

.nav-mobile--positioning {
    display: flex;
    justify-content: space-between;
    margin:auto;
    align-items: center;
    height: 3rem;
}

.nav__title {
  font-size: 0.8rem;
  margin: 0;
}

#open-sidebar-button, #close-sidebar-button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 1em;
}

.icon {
    width: 2rem;
    height: auto;
}

#overlay {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9; /* in front of everything except nav */
    display: none;
}


.nav-show ~ #overlay {
    display: block;
}


.nav {
    background-color: #000000;
    position: fixed;
    top: 0;
    right: -100%;
    min-height: 100lvh;
    width: min(15em, 100%);
    z-index: 100;
    border-left: 1px solid #03d8c6;
    transition: right 300ms ease-out;
}    

.nav-show { /* has to be below .nav to overwrite */
    right: 0;
}

/* .nav__list {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    font-size: 1.2rem;
    color: #ffffff;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
} */

.nav__list--primary {
    margin: 0.2rem 0 2rem 0;
    flex-direction: column;
}

.nav__list a {
    display: inline-block;
    width: 100%;
    padding-left: 1em;
}

.nav__btn {
    display: block;
    padding: 0.5em 0;
}

.nav__list--primary a:hover {
    text-decoration: underline 3px;
    text-underline-offset: 5px;
}