* {
  font-family: "Instrument Sans";
}

:root {
  --primary-accent-color: #03d8c6;
}

body {
  background-color: #000000;
  color: white;
}

.main-container__fade {
  display: none;
}

.body-container {
  width: 90%;
  margin: auto;
}

.header {
  background: url(/images/header-mobile.jpg) 40% top no-repeat;
  height: 100vh;
  z-index: -3;
  position: relative;
}

.header__container {
  top: 0;
}

.header__welcome {
  font-size: 2.5rem;
  width: 90%;
  margin: 0 auto 2rem auto;
  padding-top: 3rem;
  text-shadow: 2px 2px 2px #000000;   
}

.header__name {
  text-shadow: 2px 2px 2px #0000009e;   
  font-size: 1.8rem;
  font-weight: normal;
  width: 90%;
  margin: 0.5rem auto;
  background-color: #0000004a;
}

.header__fade {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.7) 56%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 1) 100%);
}

.display-btn__container {
  display: flex;
  justify-content: space-evenly;
  width: min(85%, 550px);
  margin: 4rem auto 0 auto;
}

.display-btn {
  color: white;
  font-size: 1.1rem;
  background-color: #000000;
  border: none;
  padding: 20px 8px;
  cursor: pointer;
}

.display-btn:hover {
  color: #ffffffc4;
  /* border-bottom: #03d8c6bd solid 3px; */

}

#display-btn__projects {
  border-bottom: var(--primary-accent-color) solid 3px;
}

#about-me {
  display: none;
}

#contact {
  display: none;
}

.projects {
  max-width: min(100%, 480px);
  margin: 1.5rem auto auto;
}

.projects__item {
  padding: 2rem 0;
}

.projects__img {
  border: #03d8c691 solid 3px;
}

.projects__label {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

.projects__name {
  display: inline-block;
  font-size: 1.3rem;
  /* text-align: center; */
  font-weight: normal;
  letter-spacing: 3px;
}

.projects__medium {
  display: inline-block;
  font-size: 1rem;
  /* text-align: center; */
  margin-top: 0.5rem;
  color: var(--primary-accent-color);
  letter-spacing: 2px;
}

.project-container {
  max-width: 600px;
}

.nav {
  /* background-color: white; */
  /* color: black; */
  margin-bottom: 1rem;
}

/* .nav__title {
  margin: 1rem;
} */

.nav__list {
  display: flex;
  flex-flow: wrap;
  margin: 0;
}

.nav__option {
  padding: 1rem;
  /* color: #000; */
}

.nav__option:hover {
  background-color: #007b7156;
}

.nav__option--active {
  background-color: #02a89a;
  /* color: #000000; */
  /* border-bottom: var(--primary-accent-color) solid 2px; */
}

.back-btn {
  display: inline-block;
  padding: 1rem 0;
  background-color: #000000;
  color: var(--primary-accent-color);
  font-size: 1.1rem;
  /* font-size: ; */
}

.back-btn:hover {
  color: #00988c;
}


.project-page__img {
  margin-top: 0.5rem;
}

.project-page__name {
  font-weight: normal;
  font-size: 1.7rem;
}

.project-page__medium {
  color: var(--primary-accent-color);
  font-size: 1rem;
}

.project-page__date {
  color: #9e9e9e;
  margin: 0.2rem 0;
}



@media (min-width: 500px) {
  .header {
    background: url(/images/header-desktop.jpg) 40% top no-repeat;
  }  
}

@media (min-width: 760px) {
  main {
    background-color: rgb(49, 49, 49);
    z-index: -3;  
    /* min-height: 100vh; */
  }

  .main-container {
    background-color: #000000;
    max-width: 580px;
    margin: auto;
    min-height: 100vh;
    z-index: -1;
  }

  .main-container--project {
    max-width: 700px;
  }

  .main-container__fade {
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: red;
    /* z-index: -1; */
  }

}