* {
  font-family: "Instrument Sans";
}

:root {
  --background-color: #000;
  --primary-accent-color: #03d8c6;
}

body {
  background-color: var(--background-color);
  color: white;
}

.main-container__fade {
  display: none;
}

.body-container {
  width: 90%;
  margin: auto;
}

.nav {
  width: 100%;
  background-color: #000;
  height: 4em;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.nav__name {
  font-size: 1.3rem;
  margin: 0;
  margin-left: 1rem;
}

.header {
  background: url(/images/header-mobile.jpg) 40% top no-repeat;
  height: 100vh;
  z-index: -3;
  position: relative;
}

.header__container {
  top: 0;
}

.header__welcome {
  font-size: clamp(3rem, 2rem + 4vw, 5rem);
  width: 90%;
  margin: 0 auto 2rem auto;
  padding-top: 3rem;
  text-shadow: 2px 2px 2px #000000;   
  font-weight: normal;
  font-family: "Inter";
}

.header__name {
  text-shadow: 2px 2px 2px #0000009e;   
  font-size: 1.8rem;
  font-weight: normal;
  width: 90%;
  margin: 0.5rem auto;
  background-color: #0000004a;
}

.header__fade {
  position: absolute;
  z-index: 3;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.7) 56%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 1) 100%);
}

.display-btn__container {
  display: flex;
  justify-content: space-evenly;
  width: min(85%, 550px);
  margin: 4rem auto 0 auto;
}

.display-btn {
  color: white;
  font-size: 1.1rem;
  background-color: var(--background-color);
  border: none;
  padding: 20px 8px;
  cursor: pointer;
}

.display-btn:hover {
  color: #ffffffaa;
  /* border-bottom: #03d8c6bd solid 3px; */

}

#display-btn__projects {
  border-bottom: var(--primary-accent-color) solid 3px;
}

#about-me {
  display: none;
}

#contact {
  display: none;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 1.5rem auto auto;
}

.projects__item {
  padding: 2rem 0;
}

.projects__img {
  border: #02d0bfc9 solid 3px;
}

.projects__label {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

.projects__name {
  display: inline-block;
  font-size: 1.3rem;
  /* text-align: center; */
  font-weight: normal;
  letter-spacing: 3px;
}

.projects__medium {
  display: inline-block;
  font-size: 1rem;
  /* text-align: center; */
  margin-top: 0.5rem;
  color: var(--primary-accent-color);
  letter-spacing: 2px;
}


.about-me, .contact {
  max-width: 600px;
  margin: 3.5rem auto;
}



.project-container {
  max-width: 600px;
}

.nav__list {
  display: flex;
  flex-flow: wrap;
  margin: 0;
}

.nav__option {
  padding: 1rem;
}

.nav__option:hover {
  background-color: #007b7156;
}

.nav__option--active {
  background-color: #02a89a;
}

.back-btn {
  font-size: 1rem;
  display: inline-block;
  border-radius: 3px;
  padding: 0.4rem 1.4rem;
  margin: 1rem 0 0.5rem 0;
  background-color: #111111;
  color: var(--primary-accent-color);
}

.back-btn:hover {
  color: #00988c;
}


.project-page__media {
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  max-width: 100%;
}

.project-page__media--full-width {
  width: 100%;
}

.project-page__name {
  font-weight: normal;
  font-size: 1.7rem;
}

.project-page__medium {
  margin-top: 0.3rem;
  color: var(--primary-accent-color);
}

.project-page__date {
  color: #9e9e9e;
  margin: 0.2rem 0;
}

.project-page__description {
  padding-bottom: 2rem;
}

.project-page__description--above {
  padding-bottom: 0rem;
}

.project-page__media-extra {
  display: block;
  margin: auto;
  padding-bottom: 2rem;
}

.project-page__media-extra__padding {
  padding-bottom: 0;
}

.photos__caption {
  color: #cecece;
  margin: 0.25rem 0 2rem 0;
}

.photos__caption--above {
  margin-bottom: 0rem;
}


@media (min-width: 500px) {
  .header {
    background: url(/images/header-desktop.jpg) 40% top no-repeat;
  }  

  .back-btn {
    font-size: 1rem;
  }

  .nav__option {
    font-size: 1.1rem;
  }

  .display-btn {
    font-size: 1.3rem;
  }
}

@media (min-width: 760px) {
  main {
    /* background-color: rgb(18, 18, 18); */
    /* background-color: black; */
    z-index: 9;  
    position: relative;
    z-index: 1;
  }
  
  .main-container {
    background-color: var(--background-color);
    max-width: 580px;
    margin: auto;
    margin-bottom: 3rem;
    min-height: 100vh;
    position: relative;
    z-index: 3;
  }

  .main-container--project {
    max-width: 700px;
  }

  .main-container__fade {
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 2;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.7) 56%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 1) 100%); 
  }

  .about-me__text {
    font-size: 1.1rem;
  }

  .project-page__description {
    font-size: 1.1rem;
  }
}

@media (min-width: 700px) {
  .main-container {
    max-width: 1000px;
  }

  .projects {
    /* max-width: 1000px; */
    max-width: none;
    gap: 1rem;
  }

  .about-me, .contact {
  max-width: 800px;
  }   
  
  .projects__item {
    width: 48%;
    /* align-self: center; */
  }

  .project-container {
    max-width: 700px;
  }
}

@media (min-width: 1100px) {
  .main-container {
    max-width: 2000px;
  }

  .projects {
    gap: 2rem;
  }

  .projects__item {
    width: 30%;
    max-width: 460px;
  }

}

@media (min-width: 1500px) {
  .projects {
    gap: 1rem 3rem;
  }
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
} */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}