* {
  font-family: "Instrument Sans";
}

:root {
  --primary-accent-color: #03d8c6;
}

body {
  background-color: #000000;
  color: white;
}

.main-container__fade {
  display: none;
}

.body-container {
  width: 90%;
  margin: auto;
}

.header {
  /* background: url(/images/header-mobile.jpg) 40% top no-repeat; */
  height: 100vh;
  z-index: -3;
  position: relative;
}

.header__container {
  top: 0;
}

.header__welcome {
  font-size: 2.5rem;
  width: 90%;
  margin: 0 auto 2rem auto;
  padding-top: 3rem;
  text-shadow: 2px 2px 2px #000000;   
}

.header__name {
  text-shadow: 2px 2px 2px #0000009e;   
  font-size: 1.8rem;
  font-weight: normal;
  width: 90%;
  margin: 0.5rem auto;
  background-color: #0000004a;
}

.header__fade {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.7) 56%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 1) 100%);
}

.display-btn__container {
  display: flex;
  justify-content: space-evenly;
  width: min(85%, 550px);
  margin: 4rem auto 0 auto;
}

.display-btn {
  color: white;
  font-size: 1.1rem;
  background-color: #000000;
  border: none;
  padding: 20px 8px;
  cursor: pointer;
}

.display-btn:hover {
  color: #ffffffc4;
  /* border-bottom: #03d8c6bd solid 3px; */

}

#display-btn__projects {
  border-bottom: var(--primary-accent-color) solid 3px;
}

#about-me {
  display: none;
}

#contact {
  display: none;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 1.5rem auto auto;
}

.projects__item {
  padding: 2rem 0;
}

.projects__img {
  border: #03d8c691 solid 3px;
}

.projects__label {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

.projects__name {
  display: inline-block;
  font-size: 1.3rem;
  /* text-align: center; */
  font-weight: normal;
  letter-spacing: 3px;
}

.projects__medium {
  display: inline-block;
  font-size: 1rem;
  /* text-align: center; */
  margin-top: 0.5rem;
  color: var(--primary-accent-color);
  letter-spacing: 2px;
}


.about-me, .contact {
  max-width: 600px;
  margin: 3.5rem auto;
}



.project-container {
  max-width: 600px;
}

.nav__list {
  display: flex;
  flex-flow: wrap;
  margin: 0;
}

.nav__option {
  padding: 1rem;
}

.nav__option:hover {
  background-color: #007b7156;
}

.nav__option--active {
  background-color: #02a89a;
}

.back-btn {
  display: inline-block;
  padding: 2rem 0 1rem 0;
  background-color: #000000;
  color: var(--primary-accent-color);
  font-size: 1.1rem;
}

.back-btn:hover {
  color: #00988c;
}


.project-page__media {
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  max-width: 100%;
}

.project-page__media--full-width {
  width: 100%;
}

.project-page__name {
  font-weight: normal;
  font-size: 1.7rem;
}

.project-page__medium {
  margin-top: 0.3rem;
  color: var(--primary-accent-color);
}

.project-page__date {
  color: #9e9e9e;
  margin: 0.2rem 0;
}

.project-page__description {
  padding-bottom: 2rem;
}

.project-page__description--first {
  padding-bottom: 0rem;
}

.project-page__media-extra {
  display: block;
  margin: auto;
  padding-bottom: 2rem;
}



@media (min-width: 500px) {
  .header {
    background: url(/images/header-desktop.jpg) 40% top no-repeat;
  }  

  .back-btn {
    font-size: 1.2rem;
  }
}

@media (min-width: 760px) {
  main {
    /* background-color: rgb(18, 18, 18); */
    /* background-color: black; */
    z-index: 9;  
    position: relative;
    z-index: 1;
  }

  .main-container {
    background-color: #000000;
    max-width: 580px;
    margin: auto;
    min-height: 100vh;
    position: relative;
    z-index: 3;
  }

  .main-container--project {
    max-width: 700px;
  }

  .main-container__fade {
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 2;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.7) 56%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 1) 100%); 
  }

  .display-btn {
    font-size: 1.2rem;
  }

  .about-me__text {
    font-size: 1.1rem;
  }

  .project-page__description {
    font-size: 1.1rem;
  }
}

@media (min-width: 1100px) {
  .main-container {
    max-width: 1000px;
    background-color: #000000;
  }

  .projects {
    max-width: 1000px;
  }

  .about-me, .contact {
  max-width: 800px;
  }   
  
  .projects__item {
    width: 48%;
    /* align-self: center; */
  }

  .project-container {
    max-width: 700px;
  }
}