body {
  background-color: #000000;
  color: white;
}

.body-container {
  width: 90%;
  margin: auto;
}

/* header {
  height: 100vh;
} */

.header {
  background: url(/images/header-mobile1.jpg) 40% top no-repeat;
  height: 100vh;
  z-index: -3;
  position: relative;
}

.header__container {
  top: 0;
}

.header__welcome {
  font-size: 2.5rem;
  width: 90%;
  margin: 0 auto 2rem auto;
  padding-top: 3rem;
  text-shadow: 2px 2px 2px #000000;   
}

.header__name {
  text-shadow: 2px 2px 2px #0000009e;   
  font-size: 1.8rem;
  font-weight: normal;
  width: 90%;
  margin: 0.5rem auto;
  background-color: #0000004a;
}

.header__fade {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.7) 56%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 1) 100%);
}

.display-btn__container {
  display: flex;
  justify-content: space-evenly;
  width: min(85%, 550px);
  margin: 4rem auto 0 auto;
  border-bottom: #03d8c6 solid 3px;

}

.display-btn {
  color: white;
  font-size: 1.2rem;
  background-color: #000000;
  /* border: #01a0a4 inset 2px; */
  border: none;
  padding: 20px 8px;
  cursor: pointer;
}

.projects {
  max-width: min(100%, 550px);
  margin: 2rem auto;
}

.projects__item {
  /* margin:rem 0; */
  padding: 2rem 0;
  /* border-bottom:  #00626b solid 1px; */
}

.projects__img {
  border: #03d8c691 solid 3px;
}

.projects__name {
  font-size: 1.3rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
}

.projects__medium {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  /* color: #cfcfcf; */
  color: #03d8c6;
  letter-spacing: 2px;
}